* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  height: 100vh;
  background: #ECECEC;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-gap: 10px;
  padding: 10px;
}

aside {
  grid-column: 1 / 2;
  grid-row: 1 / 13;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-radius: 0.8rem
}

aside a {
  text-decoration: none;
  color: #000;
}

aside h2 {
  margin: 0 0 4px 0;
  font-size: 0.9rem;
  color: #B1ADAD;
  font-weight: 500;
}

.main-aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

li {
  list-style-type: none;
}

.overview-subsection ul li {
  padding: 14px 5px;
  font-size: 0.9rem;
  font-weight: 500;
}

.fas {
  margin-right: 7px;
}

.settings {}

.settings li {
  padding: 7px 5px;
  font-size: 0.8rem
}

.user {
  grid-column: 6 / 8;
  grid-row: 1 / 2;
  padding: 0 0.5rem;
}

.user ul {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center
}

.user li {}

.user .fas {
  border: 1px solid #B1B1B1;
  padding: 0.5rem;
  border-radius: 50%;
}

.user-link {
  padding: 0 0 0 0.7rem;
  font-size: 0.5rem;
}

ul p {
  padding: 0 0.5rem;
  font-size: 2rem;
  color: #B1B1B1;
}

article {
  grid-column: 2 / 6;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  width: 100%;
  font-size: 0.9rem;
  padding: 0.7rem;
  border-radius: 1.4rem;
  border: 1px solid #D9D9D9;
  font-weight: 300;
}

main {
  grid-column: 2 / 6;
  grid-row: 2 / 13;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main .banner {
  background: url('./images/inspired-upbeat-dreamy-fascinated-redhead-girl-writing-down-interesting-lecture-smiling-gazi.jpg');
  background-size: cover;
  background-position: top right;
  padding: 1rem;
  border-radius: 1rem;
}

.banner p {
  font-size: 0.85rem;
  font-weight: 400;
  color: #fff;
}

.banner .subheading {
  margin: 1rem 0;
}

.banner .subheading h2 {
  color: #fff;
}

.banner button {
  background: #000;
  padding: 0.5rem 1rem;
  border: none;
  font-size: 0.85rem;
  color: #fff;
  text-align: center;
  border-radius: 1.5rem;
}

.banner .fas {
  padding: 0.3rem 0.4rem;
  color: #000;
  background: #fff;
  border-radius: 50%;
  margin-left: 0.3rem
}

.mini-course-cards {
  padding: 1rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.mini-course-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  background: #fff;
  border-radius: 1rem;
}

.mini-course-card h2 {
  font-size: 0.9rem;
}

.mini-course-card p {
  font-size: 0.75rem;
  font-weight: 300;
  color: #848484;
}

.mini-course-card .fas {
  font-size: 2rem;
  margin-right: 1rem;
  color: darkorange;
}

.courses-list {}

.courses-list h2 {
  font-size: 1.2rem;
  margin: 0.5rem;
}

main .course-cards {
  display: grid;
  grid-template-columns: repeat(7, 230px);
  overflow-x: auto;
  background: #fff;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

main .course-card {
  padding: 0.3rem;
}

main .course-card h2 {
  font-size: 0.8rem;
  font-weight: 400;
  padding: 0.2rem 0.7rem;
  background: darkorange;
  width: fit-content;
  border-radius: 0.8rem;
  margin: 0.3rem 0;
  color: #fff;
}

main .course-card p {
  font-size: 0.85rem;
  font-weight: 700;
  margin: 0.5rem 0;
  
}

main .course-card .course-name{
  line-height: 15px;
  height: 60px;
}

.course-img {
  width: 100%;
  height: 150px;
  border-radius: 0.5rem;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.instructor {
  display: flex;
  align-items: center;
}

.instructor .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.instructor .details .name {
  font-weight: 300;
  padding: 0;
  margin: 0 0 0 0;
  color: #5E5E5E;
}

.instructor .details .role {
  font-weight: 700;
  padding: 0;
  font-size: 0.8rem;
  margin: 0 0 0 0;
}

.instructor-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top center;
  margin-right: 1rem;
  aspect-ratio: 1 / 1;
}

section {
  background: #fff;
  grid-column: 6 / 8;
  grid-row: 2 / 13;
  border-radius: 0.8rem;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 1rem;
  padding: 0.5rem;
}

section div {
  border-radius: 0.8rem;
}

section .user-image {
  grid-row: 1 / 5;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

section .user-image img {
  width: 130px;
  height: 130px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center top;
  border-radius: 50%;
  padding: 0.5rem;
  border: 1px solid darkorange;
}

section .user-image h2 {
  font-size: 1rem;
  padding: 0.3rem;
}

section .user-image p {
  font-size: 0.7rem;
  color: #828282;
  padding-bottom: 0.5rem;
  font-weight: 300;
}

section .other-details {
  background: #ECECEC;
  grid-row: 5 / 11;
  padding: 0.5rem;
  display: grid;
  grid-template-rows: repeat(10, 70px);
  overflow-y: auto;
  grid-gap: 0.5rem;
}

section .other-details .instructor {
  padding: 0.3rem 0.5rem;
  background: #fff;
}

section .other-details .instructor h2 {
  font-size: 0.85rem;
}

section .other-details .instructor p {
  font-size: 0.8rem;
  font-weight: 300;
}

/*index.html page styles*/

.main-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-gap: 0.8rem;
  background: url('/002-online-e_learning_app/images/portrait-creative-emotive-stylish-dark-skinned-woman-with-afro-hairstyle-turning-left-gazing-far-away-with-hand-forehead-posing-with-backpack.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.main-container .main-aside{
  border-radius: 0;
  padding: 0.5rem;
  align-items: flex-start;
  grid-column: 1 / 2; 
}

.main-section {
  grid-column: 2 / 7;
  grid-row: 1 / 13;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
}

.main-section .intro {
  grid-column: 1 / 13;
  grid-row: 4 / 9;
  padding: 0.5rem;
}

.main-container .intro h3 {
  font-weight: 700;
  font-size: 1rem;
  color: darkorange;
}

.main-container .intro h2 {
  font-size: 2.8rem;
}

.main-container .intro p {
  font-size: 0.85rem;
  font-weight: 300;
  margin: 0.5rem 0;
}

.main-container .intro button {
  padding: 0.6rem 1.3rem;
  background: #000;
  border: none;
  font-size: 1rem;
  color: #fff;
  border-radius: 1.4rem;
  margin: 1rem 0 0 0;
}

.main-section .intro a{
  text-decoration: none;
  color: #fff;
}

.image-section {
  grid-column: 5 / 6;
  grid-row: 1 / 13;
  
}
