*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --baltic-sea: #26252a;
  --bon-jour: #e0dcdc;
  --roti: #c2a243;
  --lightning-yellow: #fbbf14;
  --empress: #7a7779;
  --tan: #cda48d;
  --manatee: #8c91a7;
  --pickled-bean: #6c4628;
  --energy-yellow: #f7d851;
  --cape-palliser: #a06c4d;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(12, 1fr);
}
header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem 0 2.1rem;
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo h1 {
  font-weight: 500;
  font-size: 1.3rem;
}

header .logo h2 {
  font-weight: 300;
  font-size: 1.1rem;
}

header .logo img {
  width: 7.5rem;
}

header nav a {
  text-decoration: none;
  margin-right: 1rem;
  padding: 0.4rem 1.2rem;
  color: var(--baltic-sea);
  font-weight: 500;
}

header nav a:hover {
  background-color: var(--lightning-yellow);
  border: none;
  border-radius: 18px;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-column: 1 / 2;
  grid-row: 2 / 12;
}

aside section {
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}
aside section h2 {
  font-size: 3.5rem;
}

aside article {
  background-color: var(--lightning-yellow);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 40%;
  padding: 3rem;
}

aside article h2 {
  padding: 0 0 2rem 0;
}

main {
  grid-column: 2 / 3;
  grid-row: 1 / 12;
  background-image: url("../images/agent.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

footer {
  grid-row: 12 / 13;
  grid-column: 1 / 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--baltic-sea);
  color: var(--bon-jour);
  padding: 0 3rem;
}
footer i {
  font-size: 24px;
  padding: 0 0.5rem;
}

footer a {
  text-decoration: none;
  color: var(--bon-jour);
}

footer a:hover {
  color: var(--lightning-yellow);
}

footer a:visited {
  color: var(--bon-jour);
}

footer button {
  background-color: var(--lightning-yellow);
  padding: 8px 12px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}
