* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-container {
  width: 100vw;
  position: relative;
}

.root {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 1.7rem;
  padding: 0 1rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0rem 1rem 2rem;
  position: sticky;
}

nav {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

nav a {
  text-decoration: none;
  font-size: 0.95rem;
  color: #535353;
  border: 1px solid darkorange;
  border-radius: 15px;
  padding: 0.3rem 1rem;
  font-family: "New times romans";
  box-shadow: 0 0 2px darkorange;
  background: transparent;
}

.nav-link.active {
  border-bottom: 1px solid darkorange;
}

.home-container img {
  width: 500px;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(12, 1fr);
  height: 100vh;
}

main .images {
  grid-column: 1 / 2;
  grid-row: 1 / 6;
  padding: 0 0 0 0;

}

main .images img {
  width: 105%;
}

.site-details {
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);
  padding: 3rem 1rem 1rem 1rem;
}

.main-heading {
  grid-column: 1 / -1;
}

.main-heading h1 {
  font-size: 3rem;
  color: #000;
}

.main-heading h1>span {
  color: darkorange;
  font-weight: 100;
}

.description {
  grid-column: 1 / -1;
  margin: 1rem 0 0 0;
  font-weight: 300;
}

.stats {
  margin: 3rem 0 0 0;
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-evenly;
}

.numbers {
  font-weight: 700;
  color: #000;
  font-size: 1.3rem;
  font-family: "New times romans";
  ;
}

.stats-sep {
  color: #535353;
  font-size: 2rem;
  font-weight: 100;
}

.stats-dsc {
  font-weight: 300;
  color: darkorange;
}

.homepage-images {
  margin: 2.4rem 0 0 0;
  grid-column: 1 / -1;
  grid-row: 4 / 5;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.image {
  box-shadow: 0px 0px 10px rgba(45, 45, 45, 1);
}

.get-started {
  grid-row-start: 7;
  grid-column-start: 2;
  padding: 6rem 0 0 1.4rem;
}

.get-started button {
  padding: 12px 34px;
  border-radius: 24px;
}

.get-started a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

.image img {
  height: 130px;
  width: 130px;
  object-fit: cover;
}

.card-container {
  box-shadow: 0 0 10px #F0ECEC;
  height: fit-content;
}

.card-container img {
  width: 100%;
  object-fit: cover;
  box-shadow: 5px 5px 5px #BDB9B9;
}

body {
  font-size: 15pt;
  /*background-color: rgba(255, 247, 225, 0.3);*/
  height: 100vh;
  width: 100vw;
}

.details {
  width: 100%;
  padding: 0.5rem;
}

h2 {
  font-size: 1rem;
  color: #535353;
  font-family: "New times romans";
}

p {
  font-size: 0.9rem;
}

.category {
  font-weight: 400;
  color: darkorange;
  font-size: 0.85rem;
}

.area {
  font-weight: 200;
  font-size: 0.8rem;
}

button {
  background: darkorange;
  padding: 5px 15px;
  color: #fff;
  border-radius: 3px;
  font-size: 0.75rem;
  margin: 0.3rem 0 0.1rem 0;
  box-shadow: 0 0 10px #F0ECEC;
}

h1 {
  font-size: 1.4rem;
  font-weight: 100;
  color: #000;
  font-family: "New times romans";
}

h1 span {
  color: darkorange;
  font-weight: 700;
  font-family: "New times romans";
}

.choose {
  padding: 1rem;
}

/*Modal styles*/

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  /*background-color: rgba(255, 247, 225, 0.8);*/
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(209, 213, 219, 0.7);
}

iframe {
  box-shadow: 0px 0px 5px #2D2D2D;
  position: relative;
}

.close-player {
  position: absolute;
  top: -2.4rem;
  right: 0rem;
  font-size: 0.75rem;
  font-weight: 0;
  background: #535353;
  padding: 4px 7px;
}

.vplayer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-inner-container .modal-card-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  gap: 1rem;
  padding: 1rem;
  overflow-y: auto;
  position: relative;
}

.modal-card-container h2 {
  font-size: 1.8rem;
}

.modal-container .category {
  margin: 0.15rem 0;
}

.modal-container .modal-card-container img {
  width: 150px;
  border-radius: 50%;
}

h3 {
  font-size: 1rem;
  color: #535353;
}

.modal-details h3 {
  padding: 0 0 0 1rem;
}

.modal-details .ingredients ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem 3rem;
}

.modal-details .instructions {
  padding: 1rem;
  color: #535353;
}

.modal-details .instructions ol {
  padding: 0 0 0 2.4rem;
}

.close-modal {
  position: relative;
  right: -8rem;
  top: -3.5rem;
  font-size: 2.4rem;
  padding: 0 0.7rem;
  color: #535353;
  font-weight: 700;
}

.hidden {
  display: none;
}

li {
  font-size: 0.85rem;
  color: #535353;
}

.select {
  background: transparent;
  border: 1px solid rgba(187, 187, 187, 0.5);
  color: #535353;
}

/*.select:hover {
  background: transparent;
  border: 1px solid darkorange;
  color: #535353;
}*/

.selected {
  background: transparent;
  border: 1px solid darkorange;
  color: #535353;
}

/*form page styles*/
.favorite-container {
  display: flex;
  height: 100%;
}

.image-section {
  background: url('/001-recipe_app/images/cook.jpg');
  background-size: cover;
  background-position: center left;
  width: 100%;
}

.image-section img {
  width: 500px;
}

.form-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.my-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 330px;
  padding: 1.4rem;
  border-radius: 6px;
  box-shadow: 0 0 18px #cecece;
}

.my-form div {
  display: flex;
  flex-direction: column;
}

.my-form label {
  font-size: 0.85rem;
  margin: 0 0 0.3rem 0;
  color: #535353;
}

.my-form input {
  border: none;
  width: 270px;
  padding: 0.5rem;
  font-size: 0.9rem;
  outline: none;
  border: 1px solid #cecece;
  font-weight: 300;
}

.my-form button {
  font-size: 0.9rem;
  padding: 0.5rem;
}

.my-form a {
  font-size: 0.8rem;
  color: #000;
  text-decoration: none;
  font-weight: 300;
}

.welcome-back {
  margin: 0 0 1.8rem 0;
  display: flex;
  flex-direction: column;

}

.welcome-back h2 {
  font-size: 2.4rem;
  color: darkorange;
  font-weight: 400;
}

.welcome-back p {
  font-size: 0.9rem;
  color: #000;
  font-weight: 100;
}

.save {
  background: transparent;
  border: 1px solid rgba(187, 187, 187, 0.5);
  color: #535353;
}

.recipes {
  width: 100vw;
  display: flex;
}

aside {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 0 1rem;
}

aside h2 {
  padding: 0.5rem 0;
}

aside ul {
  width: 100%;
}

aside li {
  padding: 0 0 0.5rem 0;
  list-style-type: none;
}

.countries {
  width: 100%;
  height: 18rem;
  overflow-y: auto;
}

.root {
  width: 80%;
  height: 100vh;
  overflow-y: auto;
}

.listStyle {
  color: darkorange;
  font-weight: 700;
}

.buttons {
  width: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fas {
  font-size: 1.05rem;
  border: none;
  background: transparent;
  color: #979494;
  margin: 0.7rem;
}

.fa-user {
  font-size: 1.8rem;
  padding: 0.5rem 0.65rem;
  border: 1px solid #cecece;
  border-radius: 50%;
}

.account {
  display: none;
  position: absolute;
  top: 6rem;
  right: 1rem;
}

.account p {
  font-family: serif;
  font-size: 0.9rem;
  padding: 0.3rem 0.5rem;
  margin: 0 0 0.7rem 0;
  background: white;
  border: 1px solid darkorange;
  border-radius: 15px;
  box-shadow: 0 0 1px darkorange;
  text-align: center;
  color: #535353;
}

.show {
  display: block;
}

.saved-section {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 1.7rem;
  padding: 0 1rem;
}