:root {
  --cocoa-brown: #492a24;
  --casablanca: #ffc130f6;
  --coconut-cream: #f8eed4;
  --roof-terracotta: #cc211b;
  --harvest-gold: #e5c277;
  --mountain-mist: #f8f8f8;
  --sisal: #ffffff;
  --sapling: #dccba8;
  --bombay: #b3b4b8;
  --christi: #20ac04;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  grid-column: 1 / 13;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 2rem 0 2rem;
}
.logo {
  display: flex;
  align-items: center;
}

.logo .fa-hamburger {
  color: var(--casablanca);
  font-size: 2.3rem;
}

.logo h1 {
  font-size: 1.2rem;
  color: var(--cocoa-brown);
  font-weight: 500;
  padding: 0 0 0 1rem;
}

.nav-delivery {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.delivery {
  display: flex;
  padding: 0 0 1rem 0;
  align-items: center;
}

.nav-delivery nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 520px;
}
.delivery .fa-truck {
  padding-right: 1rem;
  color: var(--cocoa-brown);
}

.delivery p {
  font-size: 0.8rem;
}

nav a {
  text-decoration: none;
  color: var(--cocoa-brown);
  font-size: 0.85rem;
  font-weight: 500;
  padding: 4px 10px;
  border-radius: 18px;
  border: 1px solid transparent;
}

nav a:hover {
  border: 1px solid var(--cocoa-brown);
}

.container {
  position: relative;
  height: 100vh;
}
/*main */
.orange {
  background-color: var(--casablanca);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 46.5%;
  z-index: -1;
}

main {
  height: 85vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  padding: 0 2rem 0 2rem;
}

main .main-heading {
  grid-column: 1 / 6;
  grid-row: 3 / 10;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
}

main .main-heading button {
  background-color: var(--cocoa-brown);
  color: var(--sisal);
  border: none;
  padding: 0.8rem 1.2rem;
  border-radius: 36px;
  border: 3px solid var(--cocoa-brown);
  font-weight: 500;
  cursor: pointer;
}

main .main-heading button:hover {
  background-color: var(--sisal);
  color: var(--cocoa-brown);
}

main .main-heading p {
  font-weight: 300;
  text-align: justify;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
}

main .main-heading .new {
  background-color: var(--roof-terracotta);
  width: fit-content;
  padding: 2px 6px;
  font-weight: 700;
  color: var(--sisal);
}

main .call-to-action {
  display: flex;
  align-items: center;
}

main .call-to-action h2 {
  margin-left: 3rem;
  font-size: 2rem;
  color: var(--christi);
}

main .main-heading h1 {
  font-size: 3.2rem;
  color: var(--cocoa-brown);
  font-weight: 700;
  font-family: "Bevan", serif;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

main .main-image {
  grid-column: 5 / 10;
  grid-row: 1 / 10;
}

main .main-image img {
  width: 600px;
}

main .mini-burger {
  grid-column: 12 / 13;
  grid-row: 4 / 8;
}

main .mini-burger img {
  width: 300px;
}

main .small-burgers {
  grid-column: 1 / 6;
  grid-row: 12 / 13;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid transparent;
}

.opacity {
  border: 1px solid var(--casablanca);
}

main .small-burgers img {
  width: 80px;
  padding: 10px;
}

main .arrows {
  grid-column: 8 / 10;
  grid-row: 12 / 13;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
}

main .arrows .fas {
  font-size: 1.5rem;
  color: var(--sisal);
  background-color: var(--roof-terracotta);
  padding: 4px 10px;
  aspect-ratio: 1 /1;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid transparent;
}

main .arrows .fas:hover {
  background-color: transparent;
  color: var(--roof-terracotta);
  border: 3px solid var(--roof-terracotta);
}

/*burgers-container*/
.burgers-container {
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 2.5rem;
  padding: 2rem;
  color: var(--coconut-cream);
}

.burgers-container article {
  padding: 1.5rem;
}

.burgers-container article h2 {
  font-size: 0.9rem;
  font-weight: 400;
}

.burgers-container article h3 {
  font-size: 1.2rem;
  font-weight: 700;
}

.burger-main {
  grid-column: 1 / 7;
  grid-row: 1 / 3;
  background-image: url("../images/grilled-beef.jpg");
}

.right-top {
  grid-column: 7 / 13;
  grid-row: 1 / 2;
  background-image: url("../images/burger2.jpg");
}

.right-bottom {
  grid-column: 7 / 13;
  grid-row: 2 / 3;
  background-image: url("../images/burger3.jpg");
}

.burger-main,
.right-bottom,
.right-top {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
}

/*order now section styles */

.choose-enjoy {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 2rem 0;
}

.choose-enjoy article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.choose-enjoy .choose {
  font-size: 1rem;
  background-color: var(--casablanca);
  padding: 0.5rem 1rem;
}

.choose-enjoy article h3 {
  font-size: 2rem;
  font-family: "Bevan", serif;
  font-weight: 500;
  margin: 1rem 0;
  color: var(--cocoa-brown);
}

.choose-enjoy article p {
  width: 75%;
  text-align: center;
  font-size: 0.85rem;
  font-weight: 300;
}

.order-now {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.order-now article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-now img {
  width: 400px;
}

.order-now p {
  margin: 1rem 2rem;
  text-align: center;
  font-size: 0.85rem;
}
.order-now button {
  color: #fff;
  background-color: var(--roof-terracotta);
  border: none;
  padding: 0.5rem 1rem;
  font-size: 0.7rem;
  font-weight: 700;
}

.order-now h2 {
  color: var(--cocoa-brown);
}

.order-now button:hover {
  background-color: #a8140f;
  cursor: pointer;
}

/*upcomimg*/

.upcoming {
  height: 45vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  padding: 0 1rem;
  margin: 5rem 4rem 0 4rem;
  background-color: var(--sisal);
  place-items: center;
  box-shadow: 0 0 10px var(--mountain-mist);
  color: var(--cocoa-brown);
}

.upcoming img {
  width: 100%;
}

.upcoming article {
  padding: 2rem;
  align-self: flex-start;
}

.upcoming h3 {
  font-size: 2rem;
  font-family: "Bevan", serif;
  font-weight: 500;
}

.upcoming h2 {
  font-size: 0.95rem;
  font-weight: 500;
}

.upcoming p {
  font-weight: 300;
  text-align: justify;
}

fieldset {
  border: none;
  display: flex;
  margin: 1rem;
}

/*Reservation section*/
.reservation {
  height: 40vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
  place-items: center;
}

.reservation article {
  grid-column: 1 / 13;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservation form {
  grid-column: 4 / 10;
  grid-row: 3;
}

.reservation input {
  margin: 0 1rem;
  width: 250px;
  padding: 0.5rem;
  border: 1px solid var(--mountain-mist);
  color: var(--cocoa-brown);
  outline: none;
  font-weight: 700;
  font-size: 0.9rem;
}

.reservation h2,
.reservation h3 {
  color: var(--cocoa-brown);
}
.reservation h2 {
  font-size: 1rem;
  font-weight: 500;
}

.reservation h3 {
  font-size: 1.6rem;
  font-family: "Bevan", serif;
  font-weight: 400;
}

input[type="submit"] {
  background-color: var(--roof-terracotta);
  color: #fff;
  border: none;
}

input[type="submit"]:hover {
  background-color: #bd2823;
  cursor: pointer;
}

footer {
  color: #fff;
  height: 32vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  padding: 2rem 0 0 2rem;
  background-image: url("../images/burger.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

footer article {
  grid-column: 1;
  grid-row: 1;
}

footer article div {
  display: flex;
  align-items: center;
}

footer article div .fas {
  font-size: 52px;
  margin-right: 1rem;
}

footer .fas,
footer a {
  color: #fff;
}

footer a {
  font-weight: 300;
}
footer p {
  grid-column: 1;
  text-align: justify;
  margin: 1rem 0;
  font-weight: 300;
  font-size: 0.9rem;
  font-weight: 200;
}

footer .social {
  grid-column: 4;
}

.social a {
  font-size: 1.3rem;
}

footer .mail {
  grid-column: 4;
  grid-row: 1;
  display: flex;
  flex-direction: column;
}

footer .mail :nth-child(1) {
  margin-bottom: 0.2rem;
}

footer .mail .fas {
  padding-right: 0.5rem;
}

/*menu page styles*/

.menu-page {
  height: 100vh;
}
.menu-container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 10px;
}

.menu-container .dashboard {
  grid-column: 1 / 3;
  grid-row: 1/ 13;
  padding: 0 10px 10px 0;
}

.menu-container .dashboard-top {
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-container .dashboard article {
  display: flex;
  align-items: center;
  border: 1px solid var(--bombay);
  padding: 10px;
  border-radius: 8px;
}

.menu-container .dashboard article:hover {
  color: var(--casablanca);
  border: 1px solid var(--casablanca);
}

.menu-container .dashboard article h3 {
  font-size: 0.95rem;
  font-weight: 400;
  margin-left: 10px;
  color: var(--cocoa-brown);
}

.menu-container .dashboard article h3:hover {
  color: var(--casablanca);
}

.menu-container .dashboard article i {
  color: var(--bombay);
}

.menu-container .dashboard article i:hover {
  color: var(--casablanca);
}

.menu-container .search {
  grid-column: 3 / 13;
  grid-row: 1 / 2;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 8px;
}

.menu-container .search input[type="text"] {
  padding: 11px;
  width: 300px;
  border: 1px solid var(--bombay);
  border-radius: 8px;
  font-size: 1rem;
  color: var(--bombay);
  font-weight: 300;
}

.menu-container .search button {
  padding: 10px 24px;
  background-color: var(--casablanca);
  border: 2px solid transparent;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  margin-left: 4px;
}

.menu-container .search button:hover {
  border: 2px solid var(--cocoa-brown);
  background-color: transparent;
  cursor: pointer;
}

.menu-container .search .user {
  display: flex;
  align-items: center;
  background-color: var(--casablanca);
  padding: 10px 18px;
  border-radius: 8px;
}

.menu-container .search .user p {
  padding-left: 16px;
}

.menu-container .menu-main-page {
  grid-column: 3 / 13;
  grid-row: 2 / 13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 10px;
  background-color: var(--mountain-mist);
}

.categories-heading {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  display: flex;
  align-items: flex-end;
  padding: 0 0 0 8px;
}

.categories-heading h2 {
  font-size: 1.1rem;
  color: var(--cocoa-brown);
  font-weight: 700;
}

.categories {
  grid-column: 1 / 10;
  grid-row: 2 / 5;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  padding: 8px;
}

.categories article {
  display: flex;
  align-items: center;
  background-color: var(--sisal);
  padding: 15px;
  border-radius: 8px;
}

.categories img {
  width: 40px;
  padding: 3px;
  background-color: var(--coconut-cream);
  border-radius: 5px;
}

.categories h3 {
  font-size: 0.95rem;
  font-weight: 500;
  margin-left: 10px;
  color: var(--cocoa-brown);
}

.products-heading {
  grid-column: 1 / 4;
  grid-row: 5 / 6;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 0 8px;
}

.products-heading h2 {
  font-size: 1.1rem;
  color: var(--cocoa-brown);
  font-weight: 700;
  margin-right: 20px;
}

.products {
  padding: 8px;
  grid-column: 1 / 10;
  grid-row: 6 / 13;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  overflow-y: auto;
  justify-content: space-between;
  overflow: auto; /* Ensures scrolling is still possible */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.products article {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--sisal);
  padding: 10px;
  border-radius: 12px;
}

.products article h2 {
  font-size: 1rem;
  color: var(--cocoa-brown);
  font-weight: 700;
  margin-right: 20px;
  align-self: flex-start;
  padding: 5px 0 5px 5px;
}

.products article h3 {
  font-size: 1rem;
  color: var(--roof-terracotta);
  font-weight: 700;
  margin-right: 20px;
  align-self: flex-start;
  padding: 0 0 5px 5px;
}

.products .buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.products .buttons .btn {
  padding: 6px 16px;
  border: 1px solid transparent;
  margin: 2px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 0.75rem;
  border: 2px solid transparent;
}

.products .buttons .wishlist {
  color: var(--cocoa-brown);
}

.products .buttons .wishlist:hover {
  color: var(--cocoa-brown);
  cursor: pointer;
  background-color: var(--casablanca);
}

.products .buttons .order-now {
  color: var(--sisal);
  background-color: var(--roof-terracotta);
}

.products .buttons .order-now:hover {
  color: var(--roof-terracotta);
  border: 2px solid var(--roof-terracotta);
  background-color: transparent;
  cursor: pointer;
}

.products .img {
  border-radius: 8px;
  background-color: var(--mountain-mist);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products img {
  width: 140px;
}

.invoice {
  grid-column: 10 / 13;
  grid-row: 2 / 13;
}

.invoice {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(12, 1fr);
  margin: 0 12px 0 0;
}

.invoice .invoice-content {
  grid-row: 2 /7;
}

.invoice .invoice-content article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--sisal);
  padding: 5px;
  border-radius: 8px;
}

.invoice .invoice-content article .product {
  display: flex;
  align-items: center;
}

.invoice .invoice-content article h2 {
  font-size: 0.9rem;
}

.invoice .invoice-content article h3 {
  font-size: 0.75rem;
  color: var(--roof-terracotta);
}

.invoice img {
  width: 60px;
  margin-right: 4px;
}

.invoice .invoice-content article .quantity {
  display: flex;
  align-items: center;
}

.invoice .invoice-content article .quantity p {
  margin: 0 10px;
}

.invoice .invoice-content article .quantity i{
  padding: 4px;
  background-color: var(--casablanca);
  border-radius: 4px;
}